<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>BookStore Application</title>

    <!-- Bootstrap Core Css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/non-responsive.css}"/>

    <!-- Data Table -->
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}"/>

    <!-- Custom style for this template -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <link rel="icon" th:href="@{/image/applie-touch-icon.png}"/>
</head>
<body>
<div th:fragment="navbar">
    <div class="page-top"
         style="width: 100%; height: 20px; background-color: #f46b42;"></div>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/web/admin/home}">Admin Portal</a>
                <a class="navbar-brand" th:href="@{/web/bookStore/home}">BookStore Portal</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown"><a aria-expanded="false"
                                            aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" th:href="@{/web/bookStore/bookshelf}">BOOKS <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/web/bookStore/bookshelf}">Browse the bookshelf</a></li>
                            <li><a th:href="@{/web/bookStore/hours}">Store hours &#38; Directions</a></li>
                            <li><a th:href="@{/web/bookStore/frequentlyAskedQuestions}">FAQ</a></li>
                        </ul>
                    </li>
                    <form class="navbar-form" method="post" th:action="@{/searchBook}">
                        <div class="form-group">
                            <input class="form-control" name="keyword" placeholder="Book title"
                                   type="text"/>
                        </div>
                        <button class="btn btn-default" type="submit">Search</button>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/web/bookStore/shoppingCart/shoppingCart}">SHOPPING CART</a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/web/bookStore/login}">MY
                        ACCOUNT</a></li>
                    <li><a sec:authorize="isAuthenticated()"
                           th:href="@{/web/bookStore/myProfile}">MY ACCOUNT</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/web/bookStore/logout}">LOGOUT</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>

<div th:fragment="footer">
    <br/>
    <br/>
    <footer>
        <div class="row">
            <div class="col-xs-3 footerleft">
                <div class="logofooter">
                    <a th:href="@{/}"><img class="img-responsive"
                                           src="/image/logo.png" style="width: 200px;"/></a>
                </div>
                <p>
                    Ksp amazing Book Store. <br/>Serving our customers with the
                    best and interesting book.
                </p>
            </div>
            <div class="col-xs-3 paddingtop-bottom">
                <h6 class="heading7">CONTACT</h6>
                <ul class="post">
                    <p>
                        <i class="fa fa-map-pin"></i> G-95 First Floor<br/> Dilshad Colony , Delhi
                        110095
                    </p>
                    <p>
                        <i class="fa fa-phone"></i> Phone (India) : +91 9149396562
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> E-mail : kirtishekhar1997@gmail.com
                    </p>
                </ul>
            </div>
            <div class="col-xs-3 paddingtop-bottom">
                <h6 class="heading7">LINKS</h6>
                <ul class="footer-ul">
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Terms &#38; Conditions</a></li>
                    <li><a href="#"> Frequently Ask Questions</a></li>
                </ul>
            </div>
            <div class="col-xs-3 paddingtop-bottom">
                <h6 class="heading7">STORE HOURS</h6>
                <div class="post">
                    <p>Monday - Friday: 9am - 7pm</p>
                    <p>Saturday-Sunday: Off</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <div class="col-md-6">
            <p>© 2023 - All Rights Reserved</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Faq's</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </div>
    </div>
</div>
<div th:fragment="body-bottom-scripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/scripts.js}"></script>

    <!-- data table -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
</div>
</body>
</html>